body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-image: url('bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(51, 0, 0, .9);
  color: white;
  padding: 20px;
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

.header {
  margin: 0;
  padding: 10px;
  margin-bottom: 2rem;
  letter-spacing: 8px;
  border-bottom: 1px solid white;
  width: 100%;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 12em;
  font-size: 20px;
}

select {
  height: 25px;
  margin-left: .5rem;
  font-size: 20px;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}
